html,
body
{
    font-family: 'Open Sans', sans-serif;

    overflow: hidden;

    width: 100%;
    height: 100%;

    background-color: #394462;
}

.row.no-gap
{
    padding: 0 15px;
}
.no-gap [class*='-1'],
.no-gap [class*='-6'],
.no-gap [class*='-8'],
.no-gap [class*='-3'],
.no-gap [class*='-5'],
.no-gap [class*='-9'],
.no-gap [class*='-2'],
.no-gap [class*='-10'],
.no-gap [class*='-4'],
.no-gap [class*='-12']
{
    padding-right: 0;
    padding-left: 0;
}

.gap [class*='-1'],
.gap [class*='-6'],
.gap [class*='-8'],
.gap [class*='-3'],
.gap [class*='-5'],
.gap [class*='-9'],
.gap [class*='-2'],
.gap [class*='-10'],
.gap [class*='-4'],
.gap [class*='-12']
{
    padding-right: 15px;
    padding-left: 15px;
}

.app-name
{
    font-size: 24px;
    font-weight: 600;

    text-align: center;

    color: #eff3f6;
}

.app-name span
{
    font-weight: 700;
}

.box
{
    border-radius: 5px;
    background-color: #eff3f6;
}

.btn-qb
{
    font-size: 12px;
    font-weight: 600;

    height: 40px;

    text-align: center;

    color: #eff3f6;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-qb:hover,
.btn-qb:focus,
.btn-qb:active
{
    color: #eff3f6;
    border: none;
    outline: 0 !important;
}

.btn-qb i {
	margin-right: 10px;
}

.btn-green
{
    background: #5ba75e;
}

.login
{
    margin-top: 40%;
}

.login .app-name
{
    margin-bottom: 30px;
}

.login .box
{
    padding: 30px;
}

.login .form-group
{
    margin-bottom: 20px;
}

.login .form-control
{
    font-size: 12px;
    font-weight: 600;

    height: 50px;

    text-align: center;

    color: #3c354e;
    border: 1px solid #bec2c8;
    border-radius: 5px;
    background: #fff;
    box-shadow: none;
}

.login .form-control:focus
{
    border-color: #5ba75e;
}

.login .form-control::-moz-placeholder
{
    text-transform: uppercase;

    opacity: 1;
    color: #96a4a4;
}
.login .form-control:-ms-input-placeholder
{
    text-transform: uppercase;

    color: #96a4a4;
}
.login .form-control::-webkit-input-placeholder
{
    text-transform: uppercase;

    color: #96a4a4;
}

.login .btn-qb {
	height: 50px;
}
